@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);


.tabbrowser-strip,
.treestyletab-tabbar-toolbar,
.tabs-container
{
  max-width: 328px !important;
  min-width: 328px !important;
  margin-right: -294px;
  pointer-events: none;
}
.tabbrowser-strip[treestyletab-style~="border"]:not([treestyletab-tabbar-position="top"])
{
  background-color: background !important;
}


.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab:not([selected="true"]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab[selected="true"]
{
  margin-right: 300px !important;
  border-left: 2px solid background !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab
{
  transform: translateX(2px);
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab:hover,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab:not([selected="true"]):hover
{
  margin-right: unset !important;
  width: -moz-fit-content !important;
  max-width: -moz-fit-content !important;
}


.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab:not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab:not([pinned]):not([selected="true"])
{
  background-color: #333 !important;
  border: none !important;
  border-left: 2px solid background !important;
  box-shadow: none !important;
  min-height: 24px !important;
}
.tab-icon-image, .tab-throbber
{
  margin-top: -1px !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab:not([pinned])[selected="true"]
{
  border-left: 2px solid #ea7878 !important;
  background-color: #444 !important;
  
}

/*Newtab button*/
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarpaletteitem > toolbarbutton
{
  margin-right: 298px !important;
  background-color: #333 !important;
  margin-left: 4px !important;
  border-radius: 0px !important;
}

/*Swap Twistys*/
.treestyletab-twisty
{
  margin-right: -16px !important;
  margin-left: 0px !important;
  display: none;
}
.tab-stack
{
  margin-left: -1px !important;
}
.tabbrowser-tab:hover .treestyletab-twisty
{
  display: initial !important;
}

/*No Close Buttons*/
.tab-close-button
{
    display: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQbBh0jz/7AfQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAqUExURVVVVf///////////////////////////////////////////////////2urSu4AAAAOdFJOUwADCAxydXt+f4GEhoeb/L83BwAAAAFiS0dEAf8CLd4AAAA3SURBVAjXY2AgClxlYPAFM+Y2cNwCM7Rv9B6GyPXeFoAwam9AaI4bvQ1gRm4DxzUwA0jmEmcRAL9NDT3QN8Z2AAAAAElFTkSuQmCC);
}
.tab-close-button:hover
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQbBh4r6ggbjAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAA/UExURVVVVf9mZv9xcf98fP95ef91df97e/+IiP+AgP+AgP+AgP+AgP+AgP+Bgf+AgP+AgP+Bgf+AgP9/f/+AgP///5V/WHUAAAAUdFJOUwAPEhQVGBseq663vb/AwcPGx8nmYRPL8AAAAAFiS0dEFJLfyTUAAABFSURBVBgZrcHHAYAwEANBcUc0iLT998rLpgHPSJ2whTSsqDpxxsGlan6weRc1abgn/WIHp5o4sHGqKjhHU1RRQsqCOvkAX/ECkjOk9XcAAAAASUVORK5CYII=);
}
.close-icon:hover:active
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQbBiAm1Xx8TAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAA8UExURVVVVf9VVf9oaP9mZv9jY/9iYv95ef9xcf9wcP9xcf9ycv9wcP9ycv9xcf9xcf9ycv9ycv9vb/9xcf///2Uyh+IAAAATdFJOUwALDg8SFBV/g4mNj4+QkpOUlqso+DsjAAAAAWJLR0QTDLtclgAAAEJJREFUGBmtwccBgDAAAzFjaohpt/+wvBIWQJJ+wmZpWFFzELtyqplvEp5FnQPXpI93iNW5khCrKcRjKGoollzQT15FrAJgFj+WoAAAAABJRU5ErkJggg==);
}
.tab-icon-image
{
    animation: fadein 0.5s;
}
.tabbrowser-tab[selected="true"]:hover .tab-close-button
{
    display: block !important;
    transform: translateX(-299px);
    animation: fadein 0.5s;
}
.tabbrowser-tab[selected="true"]:hover .tab-icon-image, .tabbrowser-tab[selected="true"]:hover .tab-throbber
{
    animation: fadeout 0.5s;
    opacity: 0;
}
@keyframes fadein
{
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}
@keyframes fadeout
{
    0% {opacity: 1}
    100% {opacity: 0}
}
/*Remove Splitters in Panel*/
.treestyletab-splitter
{
  display: none;
}

.tabbrowser-strip[treestyletab-tabbar-position="left"]:not([treestyletab-tabbar-transparent="full"]),
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="left"]:not([treestyletab-tabbar-transparent="full"])
{
  border: none !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([overflow="true"])
.tabbrowser-arrowscrollbox,
.tabbrowser-tabs[treestyletab-mode="vertical"][overflow="true"]
.tabbrowser-arrowscrollbox
.scrollbox-innerbox
{
  box-shadow: none !important;
}
















#nav-bar
{
    background-image: none !important;
    box-shadow: none !important;
    background: background;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
    padding: 0px;
    border: none !important;
    height: 32px;
}
/*Disables bottom border*/
#navigator-toolbox:after
{
    background-color: transparent;
    margin-bottom: 1px;
}
/*Disables the menu separator*/
#PanelUI-button
{
    background-image: none;
}
/*Toolbar buttons*/
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-badge-container > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-icon
{
    border-radius: 0px !important;
    border: none !important;
    box-shadow: none !important;
}
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-badge-container > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-icon
{

    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
}
/*Icon hovers*/
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-badge-container > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-icon 
{
    background-image: none !important;
    background-color: #555;
    border: none !important;
    box-shadow: none !important;
}
/*Pressed*/
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled=true]):hover:active > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker:not([disabled=true]) > .dropmarker-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-badge-container > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon
{
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
    background-color: #333;
}
/*URLBar styling*/
#urlbar
{
    border: none !important;
    background-color: background;
    padding-bottom: 2px;
}

#identity-box.verifiedIdentity:not(:-moz-lwtheme), #notification-popup-box
{
    background-color: transparent;
    border:none;
}
/*What the fuck does this do I don't know*/
#main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon
{
    box-shadow: none !important;
}
#back-button > .toolbarbutton-icon
{
    background-image: none !important;
    width: 22px;
    padding: 2px;
}
/*Icons*/
#PanelUI-menu-button
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQTFAMmscNU3AAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAlSURBVDjLY2AYBXQDjOgC/////0+URkZGFL1Mo14b9doooAsAAHclDAor5izsAAAAAElFTkSuQmCC) !important;
    -moz-image-region: rect(0px, 14px, 18px, 4px);
}
#downloads-button[cui-areatype="toolbar"][attention] > #downloads-indicator-anchor > #downloads-indicator-icon
{
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBAA0zo6IJAQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAJUExURXh5ev////9zc7A82TwAAAACdFJOUwAAdpPNOAAAAAFiS0dEAf8CLd4AAAAoSURBVAjXYwgFggAGnCTTClY4GbYSIaK1qhVIRq1CiDAsYMVjDogEABvVHPhzCNpFAAAAAElFTkSuQmCC);
}
#downloads-button[cui-areatype="toolbar"]
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQTFAQpbj3figAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAGUExURQAAAP///6XZn90AAAABdFJOUwBA5thmAAAAAWJLR0QAiAUdSAAAAB1JREFUCNdjYMACGB+gYvYfDAzMHyBshgPYdDAAAADIBxgU0l0nAAAAAElFTkSuQmCC) !important;
    -moz-image-region: rect(0px, 14px, 18px, 4px);
}
#downloads-button[cui-areatype="toolbar"] > #downloads-indicator-anchor > #downloads-indicator-icon
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQTFAQpbj3figAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAGUExURQAAAP///6XZn90AAAABdFJOUwBA5thmAAAAAWJLR0QAiAUdSAAAAB1JREFUCNdjYMACGB+gYvYfDAzMHyBshgPYdDAAAADIBxgU0l0nAAAAAElFTkSuQmCC) !important;
    min-width: 12px;
    max-width: 12px;
    
}
#downloads-button[cui-areatype="menu-panel"][attention]
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBAA0zo6IJAQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAJUExURXh5ev////9zc7A82TwAAAACdFJOUwAAdpPNOAAAAAFiS0dEAf8CLd4AAAAoSURBVAjXYwgFggAGnCTTClY4GbYSIaK1qhVIRq1CiDAsYMVjDogEABvVHPhzCNpFAAAAAElFTkSuQmCC);
}
#back-button
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQTFAYmzLSgmQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAGUExURQAAAP///6XZn90AAAABdFJOUwBA5thmAAAAAWJLR0QAiAUdSAAAAB5JREFUCNdjYMAGGhgYGIGYGYjZf0AwM1QMJIcFAAC1NgUH61j1lAAAAABJRU5ErkJggg==);
    -moz-image-region: rect(0px, 18px, 18px, 0px);
}
#back-button:hover
{
    /*DEVHERE*/
}
#forward-button
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQTFAcICXmcFwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAA5SURBVDjLY2AYBYML/P///z8hNUzUMoyJWi5jJMd2RkZGRopchNdwUr2EzTUkuwiXIVSN/lFARwAA4YQX/3BZklgAAAAASUVORK5CYII=);
    -moz-image-region: rect(0px, 18px, 18px, 0px);
}
#tabview-button
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQTFAc7tqn9AQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAzSURBVDjLY2AYBYQAIzbB/////0dRxMjIiCzGyMiIoY+JWi4afAbRL7DRA3o0sEcBLQEArkEQDxXfmlYAAAAASUVORK5CYII=);
    -moz-image-region: rect(0px, 14px, 18px, 4px);
}
/*Down Notifs*/
#downloads-notification-anchor[notification="start"] > #downloads-indicator-notification
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAQMAAAD58POIAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQTFAgvK+s1swAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAGUExURQAAAP///6XZn90AAAABdFJOUwBA5thmAAAAAWJLR0QAiAUdSAAAANtJREFUSMft1bENwyAQRuFnUVB6BI/CaGY0RvEIlC5QSIPx/ZcmZRT5Ol71CU4CfnrW3nuvT3jCE/4mxC5TCBoyiwZAzi9gt6EByYYT2Gyol+Gaw0MKKCSDQkAhL1BIA4WcoJB6X8bNEEgBhWRQyLhRxzCQNkJShoFU+yo3w0DKCEEZBjKf1jEmpM2QlDEhVdfjZkxImSEoY0LMjjnGgDQTkjIG5GNPDxOiMgYkm7A4BjgG7MqApAzYlAGrMiAqA4IyYHEMcAzYmwvpdGGr/gs+XIjFhZBdWL7/4N9R19KWgWOndAAAAABJRU5ErkJggg==);
}
#downloads-notification-anchor[notification="finish"] > #downloads-indicator-notification
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAgMAAAC+UIlYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBABwcW6oXSAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAMUExURQAAAP9zc/9zc////6B7f6sAAAACdFJOUwAAdpPNOAAAAAFiS0dEAxEMTPIAAAETSURBVFjD7dS9DQIxDIbhUDAC+zACBaFgBPZhBBfclFz+bcf+CiSQkOL23uJRLnEIv5zI5o+Drc8KVrCCFaxgBSv4UhAfGxiK4XRHwfMajjcUxEs4RPD9Fc8YQUmLEDshQMROCAiRCQhB5cB8RCYgRCYARCX4CGr/zENUgo+oBBfRCR6CxrWxEZ3gITrBQTCCjSB+cy0EI9gIRjARgmAhSL6uGSEIFkIQDIQizAjSD1wjFGFGKMKEmAgaQfOOkYiJoBETQSEMgkSQteY4wiBIhEEQCJPAEWRv2oEwCRxhEhjCIQyEQxgIhzAQDqEjXEJDuISGcAkN4RIqAhAKAhAKAhAKAhAyAhISAhISAhISAhI+mjfCtzdsI0ft4AAAAABJRU5ErkJggg==);
}
#urlbar > toolbarbutton
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqAgMAAAC4rSHIAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQTFAoKUtmDdgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAJUExURQAAAP///////3N4pWMAAAACdFJOUwCKe/6nBgAAAAFiS0dEAIgFHUgAAAA+SURBVBjTY2AgEogwOoBpplUNDJJsQHYDkA0k2CKBgguAbKYFDIxLGBhWrYCII9gMCDVIepHNpCYYdSdRAAB/UCUDldB95gAAAABJRU5ErkJggg==)
}
/*Change highlight of refresh button*/
#urlbar-reload-button:not([disabled]):hover, #urlbar-go-button:hover, #urlbar-stop-button:not([disabled]):hover
{
    background-image: radial-gradient(circle closest-side, rgba(234, 120, 120, 0.2), hsla(200,100%,70%,0));
}
#urlbar-reload-button:not([disabled]):hover:active, #urlbar-go-button:hover:active, #urlbar-stop-button:hover:active
{
    background-image: radial-gradient(circle closest-side, rgba(234, 120, 120, 0.1), hsla(200,100%,60%,0))
}

/*CTRL F Toolbar*/
findbar
{
    border: none;
}
/*up down buttons*/
.findbar-find-previous, .findbar-find-next
{
    background-image: none;
    background-color: #FFF;
    border: none;
    margin: 1px;
    box-shadow: none;
}
.findbar-find-previous:focus,
.findbar-find-next:focus
{
    border: none;
    background-color: #FBFBFB;
}
.findbar-find-previous:hover,
.findbar-find-next:hover
{
    background-color: #F8F8F8;
}
/*text entry*/
.findbar-textbox
{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 1px;
}
/*Close button*/
.findbar-closebutton
{
    background-color: #78797a !important;
    max-height: 16px;
    min-height: 16px;
    margin: 12px;
}
.findbar-closebutton:hover
{
    background-color: #FFF !important;
}
