@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*Navbar styling*/
.tabbrowser-strip,
.treestyletab-tabbar-toolbar,
.tabs-container
{
  max-width: 328px !important;
  min-width: 328px !important;
  margin-right: -294px;
  pointer-events: none;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([pinned]):not([selected="true"])
{
    background-color: transparent !important;
    margin-top: 2px !important;
    border: none !important;
    max-height: 28px;
    min-height: 28px;
    pointer-events: none;
    border: none !important;
    box-shadow: none !important;
    
}
.tabbrowser-strip[treestyletab-style~="border"]:not([treestyletab-tabbar-position="top"])
{
    background-color: #FFF !important;
}
splitter, #back-button, #forward-button
{
    display: none;
}
#TabsToolbar
{
    border: none !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  :-moz-any(.tab-content:not([pinned="true"]):not([selected="true"]),
            .tab-content:not([pinned="true"])[selected="true"])
{
    background-color: #FFF !important;
}



#nav-bar
{
    z-index: 999999999999;
    border: none;
    background: none;
    box-shadow: none !important;
    padding: 0px;
    opacity: 1 !important;
    min-height: 38px !important;
    background-color: #e8eaed !important;
    border-radius: 4px;
}
#navigator-toolbox:after
{
    background-color: background !important;
    box-shadow: none !important;
}
/*Integrates URLBar with Navbar*/
#urlbar
{
    border: none !important;
    background-color: #E8EAED !important;
    padding-bottom: 2px;
}
#Tabstoolbar::after, .urlbar-history-dropmarker
{
    display: none;
}

/*Tabs container styling*/
#tabbrowser-tabs > arrowscrollbox > scrollbox > box
{
    background-color: transparent !important;
    overflow-y: visible;
    max-width: 350px !important;
    min-width: 350px !important;
}
#sidetabs-box
{
    max-width: 328px;
    min-width: 328px;
    margin-right: -276px;
    padding: 2px;
    margin-left: -17px;
    padding: 0px !important;
    pointer-events: none;
    
}
.tabbrowser-tabs
{
    padding-top: 20px !important;
    padding: 0px !important;
    max-width: 4000px !important;
    min-width: 4000px !important;
}
.tab-stack
{
    padding-top: 10px;
    position: absolute ;
    left: 1px;
}
#sidetabs-splitter
{
    display: none;
}
.tab-background
{
    display:none;
}
/*Disables the menu separator*/
#PanelUI-button
{
    background-image: none;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]:not([overflow="true"])
.tabbrowser-arrowscrollbox,
.tabbrowser-tabs[treestyletab-mode="vertical"][overflow="true"]
.tabbrowser-arrowscrollbox
.scrollbox-innerbox
{
  box-shadow: none !important;
}



/*Fixes lack of favicon on newtab*/
.tab-icon-image:not([src]):not([pinned]){
	display:block !important;
}

.tab-throbber:not([busy]),
.tab-throbber[busy] + .tab-icon-image:not([src]):not([pinned]){
    display:none !important;
}

/*Tab Styling*/
.tabbrowser-tab
{
    pointer-events: none;
    margin: 0px !important;
    padding: 0px !important;
    max-width: 328px !important;
    min-width: 328px !important;
    margin-right: -300px !important;
    margin-top: -3px !important;
    text-align: left;
}
/*Swaps label and close button - thanks offlineric*/


.tabbrowser-tab[selected="true"]
{
    background: none !important;
}

.tabbrowser-tab .tab-close-button
{
    pointer-events: all;
    z-index: 999 !important;
    animation: closefadebutton 1s;
    opacity: 1;
    display: none !important;
}
.tab-label
{
    margin-right: 4px !important;
}
.tabbrowser-tab[selected="true"] .tab-content
{
    background-color: #bcc3cc !important;
    color: #FFF !important;
    border-radius: 30px !important;
    margin-left: 0px;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[selected="true"]:not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"]):not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-content[selected="true"]:not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-content:not([selected="true"]):not([pinned])
{
    padding-left: 0px !important;
}
.tab-content
{   
    pointer-events: all;
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
    background-color: #e5e6e8;
    padding-bottom: 1px;
    background-clip: padding-box;
    transition: all 1s;
    color: #78797a;
    font-family: "Futura LT", "Droid Sans";
    font-size: 15px;
    transform: translateX(1px);
}
.tab-content:hover
{
    max-width: 300px;
    box-shadow: 2px 2px 2px #ccc;
}
/*
.tab-close-button
{
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
    border-radius: 20px;
}*/
@keyframes closefadebutton
{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes iconfade
{
    from {opacity: 1;}
    to {opacity: 0;}
}
.tab-icon-image, .tab-throbber
{
    margin-left: 7px !important;
    margin-top: 0px !important;
}
/*New tab button*/
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox .tabs-newtab-button 
{ 
    margin-top: 14px !important;
    margin-left: 3px !important;
    max-width: 28px !important;
    margin-right: 300px !important;
    border: none !important;
    box-shadow: none !important;
}
/*I don't know what this does, someone fucking test this*/
toolbar[type="menubar"][autohide="true"]
{
    z-index: 999999999;
    padding: 4px;
}





/*Toolbar buttons*/
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-badge-container > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-icon
{
    border-radius: 0px !important;
    border: none !important;
    box-shadow: none !important;
}
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-badge-container > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-icon
{

    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
}
/*Icon hovers*/
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-badge-container > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):hover > .toolbarbutton-icon 
{
    background-image: none !important;
    background-color: #fff;
    border: none !important;
    box-shadow: none !important;
}
/*Pressed*/
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled=true]):hover:active > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker:not([disabled=true]) > .dropmarker-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-badge-container > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon
{
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
    background-color: #dbdddf;
}
/*What the fuck does this do I don't know*/
#main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon
{
    box-shadow: none !important;
}
#back-button > .toolbarbutton-icon
{
    background-image: none !important;
    width: 22px;
    padding: 2px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
@media (-moz-os-version: windows-vista), (-moz-os-version: windows-win7) 
{
    #back-button > .toolbarbutton-icon, 
    #back-button:not([disabled="true"]):not([open="true"]):not(:active):hover > .toolbarbutton-icon, 
    #back-button:not([disabled="true"]):hover:active > .toolbarbutton-icon,
    #back-button[open="true"] > .toolbarbutton-icon,
    #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon
    {
       box-shadow: none !important;
    }
    
}
/*Icons*/
.close-icon
{
    background-color: #fff !important;
}
.close-icon:hover
{
    background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 16, 16, 0);
    background-color: #ecedee !important;
}
.close-icon:hover:active
{
    background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 16, 16, 0);
    background-color: #bcbdbe !important;
}
#main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon
{
    box-shadow: none !important;
}
#PanelUI-menu-button
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gMfFzsMh1f8AAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAGUExURf///3h5ekENsAsAAAABdFJOUwBA5thmAAAAAWJLR0QAiAUdSAAAABNJREFUCNdjYMAC+P8wMBFiowEAeDMDKBAI6KQAAAAASUVORK5CYII=) !important;
    -moz-image-region: rect(0px, 14px, 18px, 4px);
}
#downloads-button[cui-areatype="toolbar"][attention] > #downloads-indicator-anchor > #downloads-indicator-icon
{
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBAA0zo6IJAQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAJUExURXh5ev////9zc7A82TwAAAACdFJOUwAAdpPNOAAAAAFiS0dEAf8CLd4AAAAoSURBVAjXYwgFggAGnCTTClY4GbYSIaK1qhVIRq1CiDAsYMVjDogEABvVHPhzCNpFAAAAAElFTkSuQmCC);
}
#downloads-button[cui-areatype="toolbar"]
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBAAMiV5EEfQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAJUExURXh5ev///3h5etd1hBcAAAACdFJOUwAAdpPNOAAAAAFiS0dEAf8CLd4AAAAoSURBVAjXYwgFggAGnCTTClY4GbYSIaK1qhVIRq1CiDAsYMVjDogEABvVHPhzCNpFAAAAAElFTkSuQmCC) !important;
    -moz-image-region: rect(0px, 14px, 18px, 4px);
}
#downloads-button[cui-areatype="toolbar"] > #downloads-indicator-anchor > #downloads-indicator-icon
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBAAMiV5EEfQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAJUExURXh5ev///3h5etd1hBcAAAACdFJOUwAAdpPNOAAAAAFiS0dEAf8CLd4AAAAoSURBVAjXYwgFggAGnCTTClY4GbYSIaK1qhVIRq1CiDAsYMVjDogEABvVHPhzCNpFAAAAAElFTkSuQmCC) !important;
    min-width: 12px;
    max-width: 12px;
    
}
#downloads-button[cui-areatype="menu-panel"][attention]
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBAA0zo6IJAQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAJUExURXh5ev////9zc7A82TwAAAACdFJOUwAAdpPNOAAAAAFiS0dEAf8CLd4AAAAoSURBVAjXYwgFggAGnCTTClY4GbYSIaK1qhVIRq1CiDAsYMVjDogEABvVHPhzCNpFAAAAAElFTkSuQmCC);
}
#back-button
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBAB8T4DhZGgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAJUExURXh5ev///3h5etd1hBcAAAACdFJOUwAAdpPNOAAAAAFiS0dEAf8CLd4AAAAsSURBVAjXYwgFggAGLKQjiyiIbAGRTmDSqwFEZq2aCichIhBZiEqILuxmAgATGBzBv826xwAAAABJRU5ErkJggg==);
    -moz-image-region: rect(0px, 18px, 18px, 0px);
}
#back-button:hover .toolbarbutton-icon
{
    background-color: #fff !important;
}
#forward-button
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBACAfsVA/DQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAJUExURXh5ev///3h5etd1hBcAAAACdFJOUwAAdpPNOAAAAAFiS0dEAf8CLd4AAAAsSURBVAjXYwgFggAGLKQjiyiIVAGTGiDSQQtEZq2aCichIhBZqEqwLuxmAgCatxqH14c+/AAAAABJRU5ErkJggg==);
    -moz-image-region: rect(0px, 18px, 18px, 0px);
}
#tabview-button
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQDDjsC2/d9zwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAJUExURXh5ev///3h5etd1hBcAAAACdFJOUwAAdpPNOAAAAAFiS0dEAf8CLd4AAAA0SURBVAjXYwgNZQ0NYAgNdUUntbpasZEMDKyuDgyiWloNDEARLbA4EgmUBpkgGopOAm0BAKudGaCezXg8AAAAAElFTkSuQmCC);
    -moz-image-region: rect(0px, 14px, 18px, 4px);
}
/*Down Notifs*/
#downloads-notification-anchor[notification="start"] > #downloads-indicator-notification
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAgMAAAC+UIlYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBAB0BIbdK0AAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAMUExURQAAAP9zc3h5ev///5R2DOAAAAACdFJOUwAAdpPNOAAAAAFiS0dEAxEMTPIAAAETSURBVFjD7dS9DQIxDIbhUDAC+zACBaFgBPZhBBfclFz+bcf+CiSQkOL23uJRLnEIv5zI5o+Drc8KVrCCFaxgBSv4UhAfGxiK4XRHwfMajjcUxEs4RPD9Fc8YQUmLEDshQMROCAiRCQhB5cB8RCYgRCYARCX4CGr/zENUgo+oBBfRCR6CxrWxEZ3gITrBQTCCjSB+cy0EI9gIRjARgmAhSL6uGSEIFkIQDIQizAjSD1wjFGFGKMKEmAgaQfOOkYiJoBETQSEMgkSQteY4wiBIhEEQCJPAEWRv2oEwCRxhEhjCIQyEQxgIhzAQDqEjXEJDuISGcAkN4RIqAhAKAhAKAhAKAhAyAhISAhISAhISAhI+mjfCtzdsI0ft4AAAAABJRU5ErkJggg==);
}
#downloads-notification-anchor[notification="finish"] > #downloads-indicator-notification
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAgMAAAC+UIlYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBABwcW6oXSAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAMUExURQAAAP9zc/9zc////6B7f6sAAAACdFJOUwAAdpPNOAAAAAFiS0dEAxEMTPIAAAETSURBVFjD7dS9DQIxDIbhUDAC+zACBaFgBPZhBBfclFz+bcf+CiSQkOL23uJRLnEIv5zI5o+Drc8KVrCCFaxgBSv4UhAfGxiK4XRHwfMajjcUxEs4RPD9Fc8YQUmLEDshQMROCAiRCQhB5cB8RCYgRCYARCX4CGr/zENUgo+oBBfRCR6CxrWxEZ3gITrBQTCCjSB+cy0EI9gIRjARgmAhSL6uGSEIFkIQDIQizAjSD1wjFGFGKMKEmAgaQfOOkYiJoBETQSEMgkSQteY4wiBIhEEQCJPAEWRv2oEwCRxhEhjCIQyEQxgIhzAQDqEjXEJDuISGcAkN4RIqAhAKAhAKAhAKAhAyAhISAhISAhISAhI+mjfCtzdsI0ft4AAAAABJRU5ErkJggg==);
}
#urlbar > toolbarbutton
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqAgMAAAC4rSHIAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQBES0N6qP5TwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAMUExURQAAAHh5enh5ev///5IaOH0AAAACdFJOUwCKe/6nBgAAAAFiS0dEAxEMTPIAAAA+SURBVBjTY2AgEogwOoBpplUNDJJsQHYDkA0k2CKBgguAbKYFDIxLGBhWrYCII9gMCDVIepHNpCYYdSdRAAB/UCUDldB95gAAAABJRU5ErkJggg==)
}
/*Change highlight of refresh button*/
#urlbar-reload-button:not([disabled]):hover, #urlbar-go-button:hover, #urlbar-stop-button:not([disabled]):hover
{
    background-image: radial-gradient(circle closest-side, rgba(234, 120, 120, 0.2), hsla(200,100%,70%,0));
}
#urlbar-reload-button:not([disabled]):hover:active, #urlbar-go-button:hover:active, #urlbar-stop-button:hover:active
{
    background-image: radial-gradient(circle closest-side, rgba(234, 120, 120, 0.1), hsla(200,100%,60%,0))
}
